$gray: rgb(155, 155, 155);
$brown: rgb(186, 133, 111);
$orange: rgb(199, 125, 72);
$yellow: rgb(202, 152, 73);
$green: rgb(82, 158, 114);
$blue: rgb(94, 135, 201);
$purple: rgb(157, 104, 211);
$pink: rgb(209, 87, 150);
$red: rgb(223, 84, 82);