{{- define "metadata" -}}
  <title>{{ .Title }}</title>
  {{- with .Description -}}<meta name="description" content="{{ . }}">{{- end -}}
  
  {{- $contentStyle := resources.Get "/scss/content.scss" | css.Sass | resources.Minify | resources.Fingerprint -}}
  <link rel="stylesheet" href="{{ $contentStyle.Permalink }}">

  {{- partial (.Site.Language.LanguageCode | printf "lang/%s.html") -}}
{{- end -}}
{{- define "main" -}}
<article id="content">
  {{ .Content }}
</article>
{{ partial "terms.html" . }}
{{- range $e := (.Store.Get "script") }}
{{- partialCached ($e | printf "%s.html") . -}}
{{- end -}}
{{- end -}}