{{- $term := "" -}}
{{- if .IsNamedParams -}}
  {{- $term = .Get "term" -}}
{{- else -}}
  {{- $term = .Get 0 -}}
{{- end -}}
{{- $info := dict -}}

{{- if isset . "Inner" -}}
  {{- $termref := .Get "termref" | default "unknown" -}}
  {{- $info = dict "def" .Inner "ref" $termref "refType" "text" -}}
{{- else if (.Get "ref") -}}
  {{- $ref := (split (.Get "ref") ".") -}}
  {{- $info = (index .Site.Data.glossary ($ref | append $term)) -}}
{{- else if (.Get 1) -}}
  {{- $ref := (split (.Get 1) ".") -}}
  {{- $info = (index .Site.Data.glossary ($ref | append $term)) -}}
{{- else if isset .Page.Params.glossary $term -}}
  {{- $info = (index .Page.Params.glossary $term) -}}
{{- else if .Page.Params.glossaryRef -}}
  {{- $ref := (split .Page.Params.glossaryRef ".") -}}
  {{- $info = (index .Site.Data.glossary ($ref | append $term)) -}}
{{- end -}}

{{- $id := $term | xxhash | printf "term-%s" -}}
{{- .Page.Store.SetInMap "glossary" $id $info -}}

{{- if .IsNamedParams -}}
  {{- $display := .Get "display" | default $term }}
  {{- $class := (trim (.Get "class" | printf "tooltip %s") " ") -}}
  {{- $style := .Get "style" -}}

<dfn 
  {{- with $style }} style="{{ . | safeCSS }}" {{- end -}}
  {{- with $class }} class="{{ . }}" {{- end -}}
  {{- with $id }} data-href="{{ . }}" {{- end -}}
  >{{ $display }}</dfn>
{{- else -}}
<dfn class="tooltip" data-href="{{ $id }}">{{ $term }}</dfn>
{{- end -}}